@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 96%;
    --foreground: 230 30% 12%;
    --card: 0 0% 100%;
    --card-foreground: 230 30% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 230 30% 12%;
    --primary: 220 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 65% 12.5%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 33% 96%;
    --muted-foreground: 220 12% 40%;
    --accent: 220 100% 95%;
    --accent-foreground: 230 30% 12%;
    --destructive: 2 76% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 207 27% 92%;
    --input: 207 27% 92%;
    --ring: 220 100% 50%;
    --radius: 0.75rem;
    --chart-1: 220 100% 50%;
    --chart-2: 161 82% 38%;
    --chart-3: 45 97% 59%;
    --chart-4: 2 76% 55%;
    --chart-5: 225 65% 12.5%;
  }

  .dark {
    --background: 240 5% 12%;
    --foreground: 0 0% 100%;
    --card: 225 6% 15%;
    --card-foreground: 0 0% 100%;
    --popover: 225 6% 15%;
    --popover-foreground: 0 0% 100%;
    --primary: 220 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 6% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225 6% 15%;
    --muted-foreground: 220 15% 70%;
    --accent: 225 7% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 76% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 225 7% 25%;
    --input: 225 7% 25%;
    --ring: 220 100% 50%;
    --chart-1: 220 100% 50%;
    --chart-2: 161 82% 38%;
    --chart-3: 45 97% 59%;
    --chart-4: 2 76% 55%;
    --chart-5: 220 12% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
